img {width: 1882px;
  height:700px;
     border: 10px solid red;}
     body{background:url("https://i.pinimg.com/originals/05/8b/ee/058bee03080dd27cf5931c80c912dde8.jpg");
    width: 10000000000000%;
    }